@font-face {
  font-family: "iconfont"; /* Project id 4822109 */
  src: url('iconfont.woff2?t=1739154236443') format('woff2'),
       url('iconfont.woff?t=1739154236443') format('woff'),
       url('iconfont.ttf?t=1739154236443') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-yidingyue:before {
  content: "\e619";
}

.icon-kongxinwujiaoxing:before {
  content: "\e625";
}

.icon-shixinwujiaoxing:before {
  content: "\e626";
}

.icon-shangxiajiantou:before {
  content: "\e68c";
}

.icon-wenjianyisong:before {
  content: "\e624";
}

.icon-wenjianjia-m:before {
  content: "\e7df";
}

.icon-huishouzhan:before {
  content: "\e636";
}

.icon-home1:before {
  content: "\e600";
}

.icon-baoxiangui:before {
  content: "\e611";
}

.icon-tianjia:before {
  content: "\e61b";
}

.icon-group-fill:before {
  content: "\e7a1";
}

